*.sv.j2 @jagjordi @NosratiNooshin @SabaYs
*.sv @jagjordi @NosratiNooshin @SabaYs
*.v @jagjordi @NosratiNooshin @SabaYs
*.vhd.j2 @jagjordi @NosratiNooshin @SabaYs
*.vhd @jagjordi @NosratiNooshin @SabaYs
Bender.yml @jagjordi @NosratiNooshin @SabaYs
*.h @PaulDelestrac
*.hpp @PaulDelestrac
*.c @PaulDelestrac
*.cpp @PaulDelestrac
*.rs @PaulDelestrac
