// vesyla_template_start module_head
module dpu_controller
import {{name}}_{{fingerprint}}_pkg::*;
// vesyla_template_end module_head
(
    input logic clk,
    input logic rst_n,

    input logic instruction_valid,
    input logic [INSTRUCTION_PAYLOAD_WIDTH-1:0] instruction,

    input logic address_valid,
    input logic [6-1:0] address,  // current state

    output agu_config_t agu_config,

    output logic [     DPU_MODE_WIDTH-1:0] dpu_mode,
    output logic [DPU_IMMEDIATE_WIDTH-1:0] immediate,
    output logic                           reset_accumulator,

    output logic rep_valid,
    output logic repx_valid,
    output logic trans_valid
);

  // Get opcode
  logic [OPCODE_WIDTH-1:0] opcode;
  assign opcode = instruction[OPCODE_H:OPCODE_L];

  // Instruction type valid signals
  logic dpu_valid;
  assign rep_valid   = instruction_valid && (opcode == OPCODE_REP);
  assign repx_valid  = instruction_valid && (opcode == OPCODE_REPX);
  assign trans_valid = instruction_valid && (opcode == OPCODE_TRANS);
  assign dpu_valid   = instruction_valid && (opcode == OPCODE_DPU);

  // Unpack instructions
  rep_t   rep_instr;
  repx_t  repx_instr;
  trans_t trans_instr;
  dpu_t   dpu_instr;
  assign rep_instr = rep_valid ? unpack_rep(
          instruction[INSTRUCTION_PAYLOAD_WIDTH-1:0]
      ) :
      '{default: 0};
  assign repx_instr = repx_valid ? unpack_repx(
          instruction[INSTRUCTION_PAYLOAD_WIDTH-1:0]
      ) :
      '{default: 0};
  assign trans_instr = trans_valid ? unpack_trans(
          instruction[INSTRUCTION_PAYLOAD_WIDTH-1:0]
      ) :
      '{default: 0};
  assign dpu_instr = dpu_valid ? unpack_dpu(
          instruction[INSTRUCTION_PAYLOAD_WIDTH-1:0]
      ) :
      '{default: 0};

  // Save the config for each FSM state
  logic [$clog2(FSM_MAX_STATES)-1:0][DPU_MODE_WIDTH-1:0] mode_memory;
  logic [$clog2(FSM_MAX_STATES)-1:0][DPU_IMMEDIATE_WIDTH-1:0] immediate_memory;
  logic [$clog2(FSM_MAX_STATES)-1:0] fsm_max_init_state;
  always_ff @(posedge clk or negedge rst_n) begin
    if (!rst_n) begin
      mode_memory <= '0;
      immediate_memory <= '0;
      fsm_max_init_state <= '0;
    end else if (dpu_valid) begin
      mode_memory[dpu_instr._option] <= dpu_instr._mode;
      immediate_memory[dpu_instr._option] <= dpu_instr._immediate;
      fsm_max_init_state <= dpu_instr._option;
    end
  end

  // Keep track of current rep lane
  logic [NUMBER_MT:0] current_lane;
  always_ff @(posedge clk or negedge rst_n) begin
    if (!rst_n) begin
      current_lane <= '0;
    end else begin
      if (trans_valid) begin
        assert(current_lane == trans_instr._level)
          else $error("Transition level mistmatch in DPU controller");
        current_lane <= current_lane + 1;
      end
    end
  end

  always_comb begin
    if (rep_valid) begin
      agu_config.ir_configs[current_lane][rep_instr._level].delay = rep_instr._delay;
      agu_config.ir_configs[current_lane][rep_instr._level].iter = rep_instr._iter;
      agu_config.ir_configs[current_lane][rep_instr._level].step = rep_instr._step;
      agu_config.ir_configs[current_lane][rep_instr._level].is_configured = 1'b1;
    end
    if (trans_valid) begin
      agu_config.mt_configs[trans_instr._level].delay = trans_instr._delay;
      agu_config.mt_configs[trans_instr._level].is_configured = 1'b1;
    end
    // TODO: Add similar logic for OR?
    // TODO: Add support for REPX?
  end


  // Set the output according to the current state
  assign dpu_mode = address_valid ? mode_memory[address] : mode_memory[0];
  assign immediate = address_valid ? immediate_memory[address] : '0;

  assign reset_accumulator = address_valid;
endmodule

