// vesyla_template_start defines
`define {{name}} {{name}}_{{fingerprint}}
`define {{name}}_pkg {{name}}_{{fingerprint}}_pkg
// vesyla_template_end defines

// vesyla_template_start module_head
{% if not already_defined %}
module {{name}}_{{fingerprint}}
import {{name}}_{{fingerprint}}_pkg::*;
// vesyla_template_end module_head
(
    input logic clk_0,
    input logic rst_n_0,
    input logic instr_en_0,
    input logic [RESOURCE_INSTR_WIDTH-1:0] instr_0,
    input logic [3:0] activate_0,
    input logic [WORD_BITWIDTH-1:0] word_data_in_0,
    output logic [WORD_BITWIDTH-1:0] word_data_out_0,
    input logic [BULK_BITWIDTH-1:0] bulk_data_in_0,
    output logic [BULK_BITWIDTH-1:0] bulk_data_out_0,
    input logic clk_1,
    input logic rst_n_1,
    input logic instr_en_1,
    input logic [RESOURCE_INSTR_WIDTH-1:0] instr_1,
    input logic [3:0] activate_1,
    input logic [WORD_BITWIDTH-1:0] word_data_in_1,
    output logic [WORD_BITWIDTH-1:0] word_data_out_1,
    input logic [BULK_BITWIDTH-1:0] bulk_data_in_1,
    output logic [BULK_BITWIDTH-1:0] bulk_data_out_1
);

  logic clk, rst_n, activate;
  assign clk = clk_0;
  assign rst_n = rst_n_0;
  assign activate = activate_0[0];
  logic activate_prev, activate_stretched;
  always_ff @(posedge clk or negedge rst_n) begin
    if (!rst_n) activate_prev <= 1'b0;
    else activate_prev <= activate;
  end
  assign activate_stretched = activate | activate_prev;

  logic [INSTRUCTION_PAYLOAD_WIDTH-1:0] instruction;
  logic instruction_valid;
  assign instruction = instr_0;
  assign instruction_valid = instr_en_0;

  // useless output
  assign word_data_out_1 = 0;
  assign bulk_data_out_0 = 0;
  assign bulk_data_out_1 = 0;

  // assign inputs
  logic [WORD_BITWIDTH-1:0] in0, in1, out0;
  assign in0 = word_data_in_0;
  assign in1 = word_data_in_1;

  // NOTE: removed this always_ff to reduce latency
  // as the inputs are directly from RF outputs
  // in future, we may want to merge dpu and rf (paul)
  // register inputs
  //always_ff @(posedge clk or negedge rst_n) begin
  //  if (!rst_n) begin
  //    in0 <= 0;
  //    in1 <= 0;
  //  end else begin
  //    in0 <= word_data_in_0;
  //    in1 <= word_data_in_1;
  //  end
  //end

  logic [DPU_IMMEDIATE_WIDTH-1:0] immediate;
  logic [     DPU_MODE_WIDTH-1:0] dpu_mode;

  // Configuration signals from controller to AGU_RTR
  agu_config_t agu_config;

  logic [      ADDRESS_WIDTH-1:0] address;
  logic                           address_valid;

  logic                           reset_accumulator;

  logic rep_valid, repx_valid, trans_valid;

  agu_RTR #(
      .ADDRESS_WIDTH(ADDRESS_WIDTH),
      .REP_DELAY_WIDTH(REP_DELAY_WIDTH),
      .REP_ITER_WIDTH(REP_ITER_WIDTH),
      .TRANS_DELAY_WIDTH(TRANS_DELAY_WIDTH),
      .NUMBER_OR(NUMBER_OR),
      .NUMBER_MT(NUMBER_MT),
      .NUMBER_IR(NUMBER_IR)
  ) agu_RTR_inst (
      .clk(clk),
      .rst_n(rst_n),
      .activation(|activate),
      .agu_config(agu_config),
      .addr_valid(address_valid),
      .addr(address),
      .done()
  );

  dpu_controller controller_inst (
      .clk  (clk),
      .rst_n(rst_n),

      .instruction_valid(instruction_valid),
      .instruction(instruction),

      .address_valid(address_valid),
      .address(address),

      .agu_config(agu_config),

      .dpu_mode(dpu_mode),
      .immediate(immediate),
      .reset_accumulator(reset_accumulator),

      .rep_valid  (rep_valid),
      .repx_valid (repx_valid),
      .trans_valid(trans_valid)
  );

  // Calculation logic
  logic accumulator_valid;
  logic signed [BITWIDTH-1:0] acc0, acc0_next;
  logic signed [BITWIDTH-1:0] adder_in0;
  logic signed [BITWIDTH-1:0] adder_in1;
  logic signed [BITWIDTH-1:0] adder_out;
  logic signed [BITWIDTH-1:0] mult_in0;
  logic signed [BITWIDTH-1:0] mult_in1;
  logic signed [BITWIDTH-1:0] mult_out;

  always_ff @(posedge clk or negedge rst_n) begin
    if (!rst_n) begin
      acc0 <= '0;
      accumulator_valid <= 1'b0;
    end else begin
      if (reset_accumulator | activate) begin
        acc0 <= '0;
        accumulator_valid <= 1'b1;
      end else begin
        acc0 <= acc0_next;
        accumulator_valid <= accumulator_valid;
      end
    end
  end

  always_comb begin
    out0 = 0;
    adder_in0 = 0;
    adder_in1 = 0;
    mult_in0 = 0;
    mult_in1 = 0;
    acc0_next = 0;

    case (dpu_mode)
      DPU_MODE_ADD: begin
        adder_in0 = in0;
        adder_in1 = in1;
        out0 = adder_out;
      end
      DPU_MODE_MAC: begin
        mult_in0  = in0;
        mult_in1  = in1;
        adder_in0 = mult_out;
        if (accumulator_valid) begin
          adder_in1 = acc0;
        end else begin
          adder_in1 = '0;
        end
        acc0_next = adder_out;
        out0 = adder_out;
      end
      DPU_MODE_MULT: begin
        mult_in0 = in0;
        mult_in1 = in1;
        out0 = mult_out;
      end
    endcase
  end

  // in future we will use ChipWare blocks for pipelined and such
  dpu_impl_pnkjyubmn1c_adder adder_inst (
      .in1(adder_in0),
      .in2(adder_in1),
      .saturate(1'b1),
      .out(adder_out)
  );

  dpu_impl_pnkjyubmn1c_multiplier mult_inst (
      .in1(mult_in0),
      .in2(mult_in1),
      .saturate(1'b1),
      .out(mult_out)
  );

  // register output
  logic [WORD_BITWIDTH-1:0] out0_reg;
  always_ff @(posedge clk or negedge rst_n) begin
    if (!rst_n) begin
      out0_reg <= 0;
    end else begin
      out0_reg <= out0;
    end
  end
  assign word_data_out_0 = out0_reg;

endmodule

// vesyla_template_start module_tail
{% endif %}
// vesyla_template_end module_tail

