// vesyla_template_start package_head
package {{name}}_{{fingerprint}}_pkg;
// vesyla_template_end package_head

  // vesyla_template_start package_macro
  {% include "package.j2" %}
  // vesyla_template_end package_macro

  parameter int FSM_MAX_STATES = 4;
  parameter int FSM_DELAY_WIDTH = 3;
  parameter int DPU_MODE_WIDTH = 6;
  parameter int DPU_IMMEDIATE_WIDTH = 8;
  parameter int OPCODE_WIDTH = 4;
  parameter int BITWIDTH = 16;
  parameter int INSTRUCTION_PAYLOAD_WIDTH = 27;
  parameter int OPCODE_H = 26;
  parameter int OPCODE_L = 24;

  // AGU RTR params
  parameter int ADDRESS_WIDTH = 6;
  parameter int REP_LEVEL_WIDTH = 4;
  parameter int REP_DELAY_WIDTH = 6;
  parameter int REP_ITER_WIDTH = 6;
  parameter int REP_STEP_WIDTH = 6;
  parameter int TRANS_LEVEL_WIDTH = 7;
  parameter int TRANS_DELAY_WIDTH = 7;
  parameter int NUMBER_OR = 4;
  parameter int NUMBER_MT = 3;
  parameter int NUMBER_IR = 4;
  parameter int INCLUDE_IR_STATES = 1;
  parameter int INCLUDE_MT_STATES = 1;
  parameter int INCLUDE_OR_STATES = 1;
endpackage
