// vesyla_template_start module_head
module {{name}}_{{fingerprint}}_multiplier
import {{name}}_{{fingerprint}}_pkg::*;
// vesyla_template_end module_head
(
    input logic signed [BITWIDTH-1:0] in1,
    input logic signed [BITWIDTH-1:0] in2,
    output logic signed [BITWIDTH-1:0] out,
    output logic overflow,
    output logic underflow,
    input logic saturate
);

  localparam logic signed [BITWIDTH-1:0] MaxResult = (1 << (BITWIDTH - 1)) - 1;
  localparam logic signed [BITWIDTH-1:0] MinResult = -MaxResult - 1;
  logic signed [BITWIDTH*2-1:0] temp_mult;

  always_comb begin
    out = 0;
    overflow = 0;
    underflow = 0;
    temp_mult = in1 * in2;
    // saturation logic
    if (saturate) begin
      if (temp_mult > MaxResult) begin
        out = MaxResult;
        overflow = 1;
      end else if (temp_mult < MinResult) begin
        out = MinResult;
        underflow = 1;
      end else begin
        out = temp_mult[BITWIDTH-1:0];
      end
    end else begin
      out = temp_mult[BITWIDTH-1:0];
    end
  end
endmodule

