# Build and cache folders
build/
work/
.cache/
exe/

# VSCode and IDEs
.vscode/
workspace.code-workspace
.clang-format
.clangd
.nvim/

# Python
.venv/
__pycache__/
sst_test_outputs/

# Rust and Cargo
target/

.DS_Store
**/.DS_Store