// vesyla_template_start module_head
module {{name}}_{{fingerprint}}_controller
import {{name}}_{{fingerprint}}_pkg::*;
// vesyla_template_end module_head
(
    input  logic clk,
    input  logic rst_n,

    // Decoded instruction interface (see {{name}}_{{fingerprint}}_decoder)
    input  logic   evt_valid,
    input  evt_t   evt_instr,
    input  logic   swb_valid,
    input  swb_t   swb_instr,
    input  logic   route_valid,
    input  route_t route_instr,
    input  logic   rep_valid,
    input  rep_t   rep_instr,
    input  logic   trans_valid,
    input  trans_t trans_instr,

    // SWB and ROUTE configuration signals
    output logic                          swb_conf_valid,
    output logic                          route_in_conf_valid,
    output logic                          route_out_conf_valid,
    output logic [$clog2(NUM_OPTIONS)-1:0] option_index,
    output logic [$clog2(NUM_SLOTS)-1:0]  swb_conf_link,
    output logic [$clog2(NUM_DIRS)-1:0]   route_in_conf_link,
    output logic [$clog2(NUM_SLOTS)-1:0]  route_out_conf_link,

    // Data for the addressed configuration register
    output logic [$clog2(NUM_SLOTS)-1:0] swb_conf_data,
    output logic [NUM_SLOTS-1:0]         route_in_conf_data,
    output logic [NUM_DIRS-1:0]          route_out_conf_data
);
  // ─────────────────────────────────────────────────────────────────────────
  // SWB and ROUTE Configuration
  // ─────────────────────────────────────────────────────────────────────────
  assign swb_conf_link       = swb_instr._source;
  assign route_in_conf_link  = route_instr._source;
  assign route_out_conf_link = route_instr._source;

  always_comb begin
    option_index = '0;

    swb_conf_valid       = 0;
    route_in_conf_valid  = 0;
    route_out_conf_valid = 0;

    swb_conf_data       = '0;
    route_in_conf_data  = '0;
    route_out_conf_data = '0;

    if (swb_valid) begin
      swb_conf_data  = swb_instr._target;
      swb_conf_valid = 1;
      option_index   = swb_instr._option;
    end else if (route_valid) begin
      if (route_instr._sr == ROUTE_SR_SEND) begin  // send
        route_out_conf_data  = route_instr._target[NUM_DIRS-1:0];
        route_out_conf_valid = 1;
        option_index         = route_instr._option;
      end else begin  // receive
        route_in_conf_data  = route_instr._target;
        route_in_conf_valid = 1;
        option_index        = route_instr._option;
      end
    end
  end

endmodule
