// vesyla_template_start defines
`define {{name}} {{name}}_{{fingerprint}}
`define {{name}}_pkg {{name}}_{{fingerprint}}_pkg
// vesyla_template_end defines

// vesyla_template_start module_head
{% if not already_defined %}
module {{name}}_{{fingerprint}}
import {{name}}_{{fingerprint}}_pkg::*;
// vesyla_template_end module_head
(
    input  logic clk_0,
    input  logic rst_n_0,
    input  logic instr_en_0,
    input  logic [RESOURCE_INSTR_WIDTH-1:0] instr_0,
    input  logic [FSM_PER_SLOT-1:0] activate_0,
    input logic [NUM_SLOTS-1:0][WORD_BITWIDTH-1:0] word_channels_in,
    output logic [NUM_SLOTS-1:0][WORD_BITWIDTH-1:0] word_channels_out,
    input logic [NUM_SLOTS-1:0][BULK_BITWIDTH-1:0] bulk_intracell_in,
    output logic [NUM_SLOTS-1:0][BULK_BITWIDTH-1:0] bulk_intracell_out,
    input logic [BULK_BITWIDTH-1:0] bulk_intercell_n_in,
    input logic [BULK_BITWIDTH-1:0] bulk_intercell_w_in,
    input logic [BULK_BITWIDTH-1:0] bulk_intercell_e_in,
    input logic [BULK_BITWIDTH-1:0] bulk_intercell_s_in,
    output logic [BULK_BITWIDTH-1:0] bulk_intercell_n_out,
    output logic [BULK_BITWIDTH-1:0] bulk_intercell_w_out,
    output logic [BULK_BITWIDTH-1:0] bulk_intercell_e_out,
    output logic [BULK_BITWIDTH-1:0] bulk_intercell_s_out
);

    logic clk, rst_n;
    assign clk = clk_0;
    assign rst_n = rst_n_0;

    // Instruction decoding signals
    logic instruction_valid;
    logic [INSTR_PAYLOAD_BITWIDTH-1:0] instruction_payload;
    assign instruction_valid = instr_en_0;
    assign instruction_payload = instr_0[INSTR_PAYLOAD_BITWIDTH-1:0];

    // SWB and ROUTE configuration signals
    logic swb_conf_valid, route_in_conf_valid, route_out_conf_valid;
    logic [$clog2(NUM_OPTIONS)-1:0] option_index;
    logic [$clog2(NUM_SLOTS)-1:0] swb_conf_link;
    logic [$clog2(NUM_DIRS)-1:0]  route_in_conf_link;
    logic [$clog2(NUM_SLOTS)-1:0] route_out_conf_link;

    // Instruction valid signals
    logic [NUM_OPTIONS-1:0] rep_valid;
    logic [NUM_OPTIONS-1:0] trans_valid;

    // SWB and ROUTE configurations signals
    swb_config_t swb_configs [NUM_OPTIONS];
    route_receive_config_t route_in_src_configs [NUM_OPTIONS];
    route_send_config_t    route_out_src_configs [NUM_OPTIONS];
    swb_config_t curr_swb_configs;
    route_receive_config_t curr_route_in_configs;
    route_send_config_t    curr_route_out_configs;

    // AGU configuration signals
    // NOTE: The switchbox only uses 2 AGUs
    // (1 for SWB and 1 for ROUTE)
    agu_config_t agu_configs[NUM_AGUS];
    logic [NUM_AGUS-1:0] agu_is_configured;

    // Controller module (decodes instructions)
    {{name}}_{{fingerprint}}_controller controller_inst (
      .clk(clk),
      .rst_n(rst_n),

      .instruction_valid(instruction_valid),
      .instruction_payload(instruction_payload),

      .swb_conf_valid(swb_conf_valid),
      .route_in_conf_valid(route_in_conf_valid),
      .route_out_conf_valid(route_out_conf_valid),
      .option_index(option_index),
      .swb_conf_link(swb_conf_link),
      .route_in_conf_link(route_in_conf_link),
      .route_out_conf_link(route_out_conf_link),

      .rep_valid(rep_valid),
      .trans_valid(trans_valid),

      .swb_configs(swb_configs),
      .route_in_configs(route_in_src_configs),
      .route_out_configs(route_out_src_configs),

      .agu_configs(agu_configs),
      .agu_is_configured(agu_is_configured)
    );

    // AGU control signals
    logic [NUM_AGUS-1:0] agu_enable;
    logic [NUM_AGUS-1:0][ADDRESS_WIDTH-1:0] agu_address;

    // Configuration manager module
    {{name}}_{{fingerprint}}_conf_manager conf_manager_inst (
      .clk(clk),
      .rst_n(rst_n),

      .agu_enable(agu_enable),
      .agu_address(agu_address),
      .agu_is_configured(agu_is_configured),

      .swb_conf_valid(swb_conf_valid),
      .route_in_conf_valid(route_in_conf_valid),
      .route_out_conf_valid(route_out_conf_valid),
      .option_index(option_index),

      .swb_conf_link(swb_conf_link),
      .route_in_conf_link(route_in_conf_link),
      .route_out_conf_link(route_out_conf_link),

      .swb_configs(swb_configs),
      .route_in_configs(route_in_src_configs),
      .route_out_configs(route_out_src_configs),

      .current_swb_config(curr_swb_configs),
      .current_route_in_config(curr_route_in_configs),
      .current_route_out_config(curr_route_out_configs)
    );

    genvar gen_i;
    generate
      for (gen_i = 0; gen_i < NUM_AGUS; gen_i++) begin : gen_agu
        int agu_port = (gen_i == AGU_SWB_INDEX) ? AGU_SWB_PORTNUM : AGU_ROUTE_PORTNUM;

        agu_RTR #(
          .ADDRESS_WIDTH(ADDRESS_WIDTH),
          .REP_DELAY_WIDTH(REP_DELAY_WIDTH),
          .REP_ITER_WIDTH(REP_ITER_WIDTH),
          .TRANS_DELAY_WIDTH(TRANS_DELAY_WIDTH),
          .NUMBER_OR(NUMBER_OR),
          .NUMBER_MT(NUMBER_MT),
          .NUMBER_IR(NUMBER_IR)
        ) agu_inst (
          .clk(clk),
          .rst_n(rst_n),
          .enable(1'b1),

          .activation(activate_0[agu_port]),

          .agu_config(agu_configs[gen_i]),

          .addr(agu_address[gen_i]),
          .addr_valid(agu_enable[gen_i]),
          .done()
        );
      end
    endgenerate

    // SWB word channel routing logic
    always_comb
      for (int i=0; i < NUM_SLOTS; i++)
        word_channels_out[curr_swb_configs.slot_link[i]] = word_channels_in[i];

    logic [BULK_BITWIDTH-1:0] bulk_local_channel;

    // ROUTE send links
    always_comb begin
      // Default assignments
      bulk_intercell_n_out = '0;
      bulk_intercell_w_out = '0;
      bulk_local_channel   = '0;
      bulk_intercell_e_out = '0;
      bulk_intercell_s_out = '0;

      for (int i = 0; i < NUM_SLOTS; i++) begin
        if (curr_route_out_configs.send_links[i][DIR_NORTH])
          bulk_intercell_n_out = bulk_intracell_in[i];
        if (curr_route_out_configs.send_links[i][DIR_WEST])
          bulk_intercell_w_out = bulk_intracell_in[i];
        if (curr_route_out_configs.send_links[i][DIR_LOCAL])
          bulk_local_channel = bulk_intracell_in[i];
        if (curr_route_out_configs.send_links[i][DIR_EAST])
          bulk_intercell_e_out = bulk_intracell_in[i];
        if (curr_route_out_configs.send_links[i][DIR_SOUTH])
          bulk_intercell_s_out = bulk_intracell_in[i];
      end
    end

    // ROUTE receive links
    always_comb begin
      for (int i = 0; i < NUM_SLOTS; i++)
        bulk_intracell_out[i] = '0; // Default assignment

      for (int d = 0; d < NUM_DIRS; d++) begin
        for (int i = 0; i < NUM_SLOTS; i++) begin
          if (curr_route_in_configs.receive_links[d][i]) begin
            case (d)
              DIR_NORTH: bulk_intracell_out[i] = bulk_intercell_n_in;
              DIR_WEST:  bulk_intracell_out[i] = bulk_intercell_w_in;
              DIR_LOCAL: bulk_intracell_out[i] = bulk_local_channel;
              DIR_EAST:  bulk_intracell_out[i] = bulk_intercell_e_in;
              DIR_SOUTH: bulk_intracell_out[i] = bulk_intercell_s_in;
              default:   bulk_intracell_out[i] = '0; // Unsupported directions
            endcase
          end
        end
      end
    end
endmodule

// vesyla_template_start module_tail
{% endif %}
// vesyla_template_end module_tail
