// vesyla_template_start package_head
package {{fingerprint}}_pkg;
// vesyla_template_end package_head

  // vesyla_template_start package_macro
  {% include "package.jinja" %}
  // vesyla_template_end package_macro

  parameter OPCODE_SWB = 3'b100;
  parameter OPCODE_ROUTE = 3'b101;
  parameter NUM_OPTIONS = 4;

endpackage

