// vesyla_template_start package_head
package {{name}}_{{fingerprint}}_pkg;
// vesyla_template_end package_head

  // vesyla_template_start package_macro
  {% include "package.j2" %}
  // vesyla_template_end package_macro

  parameter NUM_OPTIONS = 4;
  parameter FSM_MAX_STATES = 4;
  parameter FSM_DELAY_WIDTH = 3;

endpackage

