module radix4_bu
import {{fingerprint}}_pkg::*;
(
    input  logic signed [WORD_BITWIDTH-1:0] data_in0,
    input  logic signed [WORD_BITWIDTH-1:0] data_in1,
    input  logic signed [WORD_BITWIDTH-1:0] data_in2,
    input  logic signed [WORD_BITWIDTH-1:0] data_in3,
    output logic signed [WORD_BITWIDTH-1:0] data_out0,
    output logic signed [WORD_BITWIDTH-1:0] data_out1,
    output logic signed [WORD_BITWIDTH-1:0] data_out2,
    output logic signed [WORD_BITWIDTH-1:0] data_out3    
);

    parameter COMPLEX_BITWIDTH = WORD_BITWIDTH/2;

    // data for butterfly
    logic [COMPLEX_BITWIDTH-1:0] data0_r;
    logic [COMPLEX_BITWIDTH-1:0] data0_i;
    logic [COMPLEX_BITWIDTH-1:0] data1_r;
    logic [COMPLEX_BITWIDTH-1:0] data1_i;
    logic [COMPLEX_BITWIDTH-1:0] data2_r;
    logic [COMPLEX_BITWIDTH-1:0] data2_i;
    logic [COMPLEX_BITWIDTH-1:0] data3_r;
    logic [COMPLEX_BITWIDTH-1:0] data3_i;
    logic [COMPLEX_BITWIDTH-1:0] out0_r;
    logic [COMPLEX_BITWIDTH-1:0] out0_i;
    logic [COMPLEX_BITWIDTH-1:0] out1_r;
    logic [COMPLEX_BITWIDTH-1:0] out1_i;
    logic [COMPLEX_BITWIDTH-1:0] out2_r;
    logic [COMPLEX_BITWIDTH-1:0] out2_i;
    logic [COMPLEX_BITWIDTH-1:0] out3_r;
    logic [COMPLEX_BITWIDTH-1:0] out3_i;

    assign data0_r = data_in0[WORD_BITWIDTH-1:WORD_BITWIDTH/2];
    assign data0_i = data_in0[WORD_BITWIDTH/2-1:0];
    assign data1_r = data_in1[WORD_BITWIDTH-1:WORD_BITWIDTH/2];
    assign data1_i = data_in1[WORD_BITWIDTH/2-1:0];
    assign data2_r = data_in2[WORD_BITWIDTH-1:WORD_BITWIDTH/2];
    assign data2_i = data_in2[WORD_BITWIDTH/2-1:0];
    assign data3_r = data_in3[WORD_BITWIDTH-1:WORD_BITWIDTH/2];
    assign data3_i = data_in3[WORD_BITWIDTH/2-1:0];

    always_comb begin
        // out0 = 1, 1, 1, 1
        out0_r = COMPLEX_BITWIDTH'(data0_r + data1_r + data2_r + data3_r);
        out0_i = COMPLEX_BITWIDTH'(data0_i + data1_i + data2_i + data3_i);
        // out1 = 1, -j, -1, j
        out1_r = COMPLEX_BITWIDTH'(data0_r + data1_i - data2_r - data3_i);
        out1_i = COMPLEX_BITWIDTH'(data0_i - data1_r - data2_i + data3_r);
        // out2 = 1, -1, 1, -1
        out2_r = COMPLEX_BITWIDTH'(data0_r - data1_r + data2_r - data3_r);
        out2_i = COMPLEX_BITWIDTH'(data0_i - data1_i + data2_i - data3_i);
        // out3 = 1, j, -1, -j
        out3_r = COMPLEX_BITWIDTH'(data0_r - data1_i - data2_r + data3_i);
        out3_i = COMPLEX_BITWIDTH'(data0_i + data1_r - data2_i - data3_r);
    end

    assign data_out0 = {out0_r, out0_i};
    assign data_out1 = {out1_r, out1_i};
    assign data_out2 = {out2_r, out2_i};
    assign data_out3 = {out3_r, out3_i};

endmodule