// vesyla_template_start defines
`define {{name}} {{name}}_{{fingerprint}}
`define {{name}}_pkg {{name}}_{{fingerprint}}_pkg
// vesyla_template_end defines

// vesyla_template_start module_head
{% if not already_defined %}
module {{name}}_{{fingerprint}}
import {{name}}_{{fingerprint}}_pkg::*;
// vesyla_template_end module_head
(
    input  logic clk_0,
    input  logic rst_n_0,
    input  logic instr_en_0,
    input  logic [RESOURCE_INSTR_WIDTH-1:0] instr_0,
    input  logic [3:0] activate_0,
    input  logic [WORD_BITWIDTH-1:0] word_data_in_0, // unused
    output logic [WORD_BITWIDTH-1:0] word_data_out_0, // unused
    input  logic [BULK_BITWIDTH-1:0] bulk_data_in_0,
    output logic [BULK_BITWIDTH-1:0] bulk_data_out_0,
    output logic io_en_in,
    output logic [IO_ADDR_WIDTH-1:0] io_addr_in,
    input  logic [IO_DATA_WIDTH-1:0] io_data_in,
    output logic io_en_out,
    output logic [IO_ADDR_WIDTH-1:0] io_addr_out,
    output logic [IO_DATA_WIDTH-1:0] io_data_out
);

    // Useless outputs:
    assign word_data_out_0 = 0;

    logic clk, rst_n;
    assign clk = clk_0;
    assign rst_n = rst_n_0;

    agu_config_t agu_configs [NUM_AGUS];
    logic [NUM_AGUS-1:0] agu_valid;
    logic [NUM_AGUS-1:0] agu_activate;
    assign agu_activate[0] = activate_0[0]; // slot 0 port 0
    assign agu_activate[1] = activate_0[1]; // slot 0 port 1

    logic [NUM_AGUS-1:0][ADDRESS_WIDTH-1:0] agu_address, agu_final_address;
    logic [NUM_AGUS-1:0][ADDRESS_WIDTH-1:0] agu_init_address;
    logic [NUM_AGUS-1:0] agu_done;
    genvar idx;
    generate
      for (idx = 0; idx < NUM_AGUS; idx++)
        assign agu_final_address[idx] = agu_address[idx] + agu_init_address[idx];
    endgenerate

    logic [INSTR_PAYLOAD_BITWIDTH-1:0] instruction_payload;
    assign instruction_payload = instr_en_0 ? instr_0[INSTR_PAYLOAD_BITWIDTH-1:0] : '0;
    logic instruction_valid;
    assign instruction_valid = instr_en_0;

    logic dsu_valid;
    dsu_t dsu_instr;
    logic rep_valid;
    rep_t rep_instr;
    logic repx_valid;
    repx_t repx_instr;
    logic trans_valid;
    trans_t trans_instr;

    {{name}}_{{fingerprint}}_decoder decoder_inst (
      .clk(clk),
      .rst_n(rst_n),
      .instruction_valid(instruction_valid),
      .instruction_payload(instruction_payload),
      .dsu_valid(dsu_valid),
      .dsu_instr(dsu_instr),
      .rep_valid(rep_valid),
      .rep_instr(rep_instr),
      .repx_valid(repx_valid),
      .repx_instr(repx_instr),
      .trans_valid(trans_valid),
      .trans_instr(trans_instr)
    );

    {{name}}_{{fingerprint}}_controller controller_inst (
      .clk(clk),
      .rst_n(rst_n),

      .dsu_valid(dsu_valid),
      .dsu_instr(dsu_instr),
      .rep_valid(rep_valid),
      .rep_instr(rep_instr),
      .repx_valid(repx_valid),
      .repx_instr(repx_instr),
      .trans_valid(trans_valid),
      .trans_instr(trans_instr),

      .agu_done(agu_done),
      .agu_configs(agu_configs),
      .init_address(agu_init_address)
    );

    genvar i;
    generate
      for (i = 0; i < NUM_AGUS; i++) begin : gen_agu
        agu_rtr #(
          .ADDRESS_WIDTH(IO_ADDR_WIDTH),
          .REP_DELAY_WIDTH(REP_DELAY_WIDTH),
          .REP_ITER_WIDTH(REP_ITER_WIDTH),
          .REP_STEP_WIDTH(REP_STEP_WIDTH),
          .TRANS_DELAY_WIDTH(TRANS_DELAY_WIDTH),
          .NUMBER_OR(NUMBER_OR),
          .NUMBER_MT(NUMBER_MT),
          .NUMBER_IR(NUMBER_IR)
        ) agu_inst (
          .clk(clk),
          .rst_n(rst_n),
          .enable(1'b1),
          .activation(agu_activate[i]),
          .agu_config(agu_configs[i]),
          .addr_valid(agu_valid[i]),
          .addr(agu_address[i]),
          .done(agu_done[i])
        );
      end
    endgenerate

    // Input/output data mux
    logic [BULK_BITWIDTH-1:0] selected_data;

    always_comb begin
        if (agu_valid[0]) begin
            // Input is IO
            selected_data = io_data_in;
            io_en_in = 1'b1;
            io_addr_in = agu_final_address[0];
            // Output is bulk port
            bulk_data_out_0 = selected_data;
            io_en_out = 1'b0;
            io_addr_out = '0;
            io_data_out = '0;
        end else if (agu_valid[1]) begin
            // Input is bulk port
            selected_data = bulk_data_in_0;
            io_en_in = 1'b0;
            io_addr_in = '0;
            // Output is IO
            bulk_data_out_0 = '0;
            io_en_out = 1'b1;
            io_addr_out = agu_final_address[1];
            io_data_out = selected_data;
        end else begin
            // No valid AGU, disable all outputs
            selected_data = '0;
            io_en_in = 1'b0;
            io_addr_in = '0;
            bulk_data_out_0 = '0;
            io_en_out = 1'b0;
            io_addr_out = '0;
            io_data_out = '0;
        end
    end
endmodule

// vesyla_template_start module_tail
{% endif %}
// vesyla_template_end module_tail
