// vesyla_template_start defines
`define {{name}} {{name}}_{{fingerprint}}
`define {{name}}_pkg {{name}}_{{fingerprint}}_pkg
// vesyla_template_end defines

// vesyla_template_start module_head
{% if not already_defined %}
module {{name}}_{{fingerprint}}
import {{name}}_{{fingerprint}}_pkg::*;
// vesyla_template_end module_head
(
    input  logic clk_0,
    input  logic rst_n_0,
    input  logic instr_en_0,
    input  logic [RESOURCE_INSTR_WIDTH-1:0] instr_0,
    input  logic [3:0] activate_0,
    input  logic [WORD_BITWIDTH-1:0] word_data_in_0,
    output logic [WORD_BITWIDTH-1:0] word_data_out_0,
    input  logic [BULK_BITWIDTH-1:0] bulk_data_in_0,
    output logic [BULK_BITWIDTH-1:0] bulk_data_out_0,
    input  logic clk_1,
    input  logic rst_n_1,
    input  logic instr_en_1,
    input  logic [RESOURCE_INSTR_WIDTH-1:0] instr_1,
    input  logic [3:0] activate_1,
    input  logic [WORD_BITWIDTH-1:0] word_data_in_1,
    output logic [WORD_BITWIDTH-1:0] word_data_out_1,
    input  logic [BULK_BITWIDTH-1:0] bulk_data_in_1,
    output logic [BULK_BITWIDTH-1:0] bulk_data_out_1,
    input  logic clk_2,
    input  logic rst_n_2,
    input  logic instr_en_2,
    input  logic [RESOURCE_INSTR_WIDTH-1:0] instr_2,
    input  logic [3:0] activate_2,
    input  logic [WORD_BITWIDTH-1:0] word_data_in_2,
    output logic [WORD_BITWIDTH-1:0] word_data_out_2,
    input  logic [BULK_BITWIDTH-1:0] bulk_data_in_2,
    output logic [BULK_BITWIDTH-1:0] bulk_data_out_2,
    input  logic clk_3,
    input  logic rst_n_3,
    input  logic instr_en_3,
    input  logic [RESOURCE_INSTR_WIDTH-1:0] instr_3,
    input  logic [3:0] activate_3,
    input  logic [WORD_BITWIDTH-1:0] word_data_in_3,
    output logic [WORD_BITWIDTH-1:0] word_data_out_3,
    input  logic [BULK_BITWIDTH-1:0] bulk_data_in_3,
    output logic [BULK_BITWIDTH-1:0] bulk_data_out_3,
    output logic io_en_in,
    output logic [IO_ADDR_WIDTH-1:0] io_addr_in,
    input  logic [IO_DATA_WIDTH-1:0] io_data_in,
    output logic io_en_out,
    output logic [IO_ADDR_WIDTH-1:0] io_addr_out,
    output logic [IO_DATA_WIDTH-1:0] io_data_out
);

    // Useless outputs:
    assign word_data_out_0 = 0;
    assign word_data_out_1 = 0;
    assign word_data_out_2 = 0;
    assign word_data_out_3 = 0;
    assign bulk_data_out_0 = 0;
    assign bulk_data_out_2 = 0;
    assign bulk_data_out_3 = 0;

    logic clk, rst_n;
    assign clk = clk_0;
    assign rst_n = rst_n_0;

    agu_config_t agu_configs [NUM_AGUS];
    logic [NUM_AGUS-1:0] agu_valid;
    logic [NUM_AGUS-1:0] agu_activate;
    assign agu_activate[0] = activate_0[0]; // slot 0 port 0
    assign agu_activate[1] = activate_0[1]; // slot 0 port 1
    assign agu_activate[2] = activate_0[2]; // slot 0 port 2
    assign agu_activate[3] = activate_0[3]; // slot 0 port 3
    assign agu_activate[4] = activate_1[2]; // slot 1 port 2
    assign agu_activate[5] = activate_1[3]; // slot 1 port 3

    logic [NUM_AGUS-1:0][ADDRESS_WIDTH-1:0] agu_address, agu_final_address;
    logic [NUM_AGUS-1:0][ADDRESS_WIDTH-1:0] agu_init_address;
    genvar idx;
    generate
      for (idx = 0; idx < NUM_AGUS; idx++)
        assign agu_final_address[idx] = agu_address[idx] + agu_init_address[idx];
    endgenerate

    logic [INSTR_PAYLOAD_BITWIDTH-1:0] instruction_payload;
    logic [$clog2(3)-1:0] instruction_slot;
    logic instruction_valid;
    always_comb begin
      if (!rst_n) begin
        instruction_payload = '0;
        instruction_slot = '0;
        instruction_valid = 1'b0;
      end else begin
        if (instr_en_0) begin
          instruction_payload = instr_0[INSTR_PAYLOAD_BITWIDTH-1:0];
          instruction_slot = 0;
          instruction_valid = 1'b1;
        end else if (instr_en_1) begin
          instruction_payload = instr_1[INSTR_PAYLOAD_BITWIDTH-1:0];
          instruction_slot = 1;
          instruction_valid = 1'b1;
        end else begin
          instruction_payload = '0;
          instruction_slot = '0;
          instruction_valid = 1'b0;
        end
      end
    end

    {{name}}_{{fingerprint}}_controller controller_inst (
      .clk(clk),
      .rst_n(rst_n),

      .instruction_valid(instruction_valid),
      .instruction_slot(instruction_slot),
      .instruction_payload(instruction_payload),

      .agu_configs(agu_configs),
      .init_address(agu_init_address)
    );

    genvar i;
    generate
      for (i = 0; i < NUM_AGUS; i++) begin : gen_agu
        localparam int AGU_ADDR_WIDTH = (i == 0 || i == 1) ? IO_ADDR_WIDTH : SRAM_ADDR_WIDTH;
        agu_RTR #(
          .ADDRESS_WIDTH(AGU_ADDR_WIDTH),
          .REP_DELAY_WIDTH(REP_DELAY_WIDTH),
          .REP_ITER_WIDTH(REP_ITER_WIDTH),
          .REP_STEP_WIDTH(REP_STEP_WIDTH),
          .TRANS_DELAY_WIDTH(TRANS_DELAY_WIDTH),
          .NUMBER_OR(NUMBER_OR),
          .NUMBER_MT(NUMBER_MT),
          .NUMBER_IR(NUMBER_IR)
        ) agu_inst (
          .clk(clk),
          .rst_n(rst_n),
          .enable(1'b1),
          .activation(agu_activate[i]),
          .agu_config(agu_configs[i]),
          .addr_valid(agu_valid[i]),
          .addr(agu_address[i]),
          .done()
        );
      end
    endgenerate

    // merge the IO writing and normal writing to SRAM, IO has higher priority.
    // merge the writing and reading, writing has higher priority.
    logic [SRAM_ADDR_WIDTH-1:0] sram_in_addr;
    logic sram_in_en;
    logic [BULK_BITWIDTH-1:0] sram_in_data;
    logic [SRAM_ADDR_WIDTH-1:0] sram_out_addr;
    logic sram_out_en;
    logic [BULK_BITWIDTH-1:0] sram_out_data;
    logic [SRAM_ADDR_WIDTH-1:0] sram_addr;
    logic sram_write_en;

    // input ports
    always_comb begin
        // SRAM IN (AGU 2 - SLOT 0 PORT 2)
        if (agu_valid[2]) begin
            sram_in_en = 1;
            sram_in_addr = agu_final_address[2];
            sram_in_data = io_data_in;
        end
        // BULK IN (AGU 4 - SLOT 1 PORT 2)
        else if (agu_valid[4]) begin
            sram_in_en = 1;
            sram_in_addr = agu_final_address[4];
            sram_in_data = bulk_data_in_1;
        end
        else begin
            sram_in_en = 0;
            sram_in_addr = 0;
            sram_in_data = 0;
        end
    end

    // output ports
    always_comb begin
        // SRAM OUT (AGU 3 - SLOT 0 PORT 3)
        if (agu_valid[3]) begin
            sram_out_en = 1;
            sram_out_addr = agu_final_address[3];
            io_data_out = sram_out_data;
            bulk_data_out_1 = 0;
        end
        // BULK OUT (AGU 5 - SLOT 1 PORT 3)
        else if (agu_valid[5]) begin
            sram_out_en = 1;
            sram_out_addr = agu_final_address[5];
            io_data_out = 0;
            bulk_data_out_1 = sram_out_data;
        end
        else begin
            sram_out_en = 0;
            sram_out_addr = 0;
            io_data_out = 0;
            bulk_data_out_1 = 0;
        end
    end

    // IO IN (AGU 0 - SLOT 0 PORT 0)
    assign io_en_in = agu_valid[0];
    assign io_addr_in = agu_final_address[0];

    // IO OUT (AGU 1 - SLOT 0 PORT 1)
    assign io_en_out = agu_valid[1];
    assign io_addr_out = agu_final_address[1];

    sram #(
        .DEPTH(DEPTH),
        .WIDTH(WIDTH)
    ) sram_inst (
        .clk(clk),
        .enable_a_n(~sram_in_en),
        .enable_b_n(~sram_out_en),
        .write_enable_a_n(~sram_in_en),
        .write_enable_b_n(1'b1),
        .address_a(sram_in_addr),
        .address_b(sram_out_addr),
        .data_a(sram_in_data),
        .data_b('0),
        .q_b(sram_out_data)
    );
endmodule

// vesyla_template_start module_tail
{% endif %}
// vesyla_template_end module_tail
