module {{name}}_{{fingerprint}}_controller
import {{name}}_{{fingerprint}}_pkg::*;
(
    input logic clk,
    input logic rst_n,

    input logic instruction_valid,
    input logic [INSTR_PAYLOAD_BITWIDTH-1:0] instruction_payload,

    output agu_config_t agu_configs[4], // TODO: remove magic number

    output logic [3:0] rep_valid_portnum,
    output logic [3:0] repx_valid_portnum,
    output logic [3:0] dsu_valid_portnum
);

    // Instruction type valid signals
    logic [INSTR_OPCODE_BITWIDTH-1:0] opcode;
    assign opcode = instruction_payload[INSTR_PAYLOAD_BITWIDTH-1:INSTR_PAYLOAD_BITWIDTH - INSTR_OPCODE_BITWIDTH];
    logic dsu_valid_instr, rep_valid_instr, repx_valid_instr;
    assign dsu_valid_instr = instruction_valid && (opcode == OPCODE_DSU);
    assign rep_valid_instr = instruction_valid && (opcode == OPCODE_REP);
    assign repx_valid_instr = instruction_valid && (opcode == OPCODE_REPX);

    // Unpack instructions
    dsu_t  dsu;
    rep_t  rep;
    repx_t repx;
    assign dsu = dsu_valid_instr ? unpack_dsu(instruction_payload) : '{default: 0};
    assign rep = rep_valid_instr ? unpack_rep(instruction_payload) : '{default: 0};
    assign repx = repx_valid_instr ? unpack_repx(instruction_payload) : '{default: 0};

    assign dsu_valid_portnum  = dsu_valid_instr  ? (1 << dsu._port)  : 4'b0;
    assign rep_valid_portnum  = rep_valid_instr  ? (1 << rep._port)  : 4'b0;
    assign repx_valid_portnum = repx_valid_instr ? (1 << repx._port) : 4'b0;

    // Generate AGU configurations
    agu_config_t agu_configs_reg[4]; // TODO: remove magic number
    always_ff @(posedge clk or negedge rst_n) begin
      if (!rst_n) begin
        for (int i = 0; i < 4; i++) begin
          for (int j = 0; j < NUMBER_IR; j++) begin
            agu_configs_reg[i].ir_configs[0][j].is_configured <= 1'b0;
          end
        end
      end else if (rep_valid_instr) begin
        agu_configs_reg[rep._port].ir_configs[0][rep._level].delay <= rep._delay;
        agu_configs_reg[rep._port].ir_configs[0][rep._level].iter <= rep._iter;
        agu_configs_reg[rep._port].ir_configs[0][rep._level].step <= rep._step;
        agu_configs_reg[rep._port].ir_configs[0][rep._level].is_configured <= 1'b1;
      end
    end
    assign agu_configs = agu_configs_reg;

    // TODO: Add support for REPX and OR-level REP?
    // TODO: Add support for TRANS?

endmodule
