// vesyla_template_start package_head
package {{name}}_{{fingerprint}}_pkg;
// vesyla_template_end package_head

  // vesyla_template_start package_macro
  {% include "package.j2" %}
  // vesyla_template_end package_macro

  import agu_rtr_pkg::*;

  // AGU RTR params
  parameter int NUM_AGUS = 4;
  parameter int ADDRESS_WIDTH = $clog2(RF_DEPTH);
  parameter int REP_LEVEL_WIDTH = 3;
  parameter int REP_ITER_WIDTH = 7 * 2; // REP + REPX
  parameter int REP_DELAY_WIDTH = 7 * 2; // REP + REPX
  parameter int REP_STEP_WIDTH = 7 * 2; // REP + REPX
  parameter int TRANS_LEVEL_WIDTH = 7;
  parameter int TRANS_DELAY_WIDTH = 7;
  // NUMBER_OR / NUMBER_MT / NUMBER_IR come from this resource's arch.json
  // custom_properties (emitted by package.j2 above); defaults live there.
  parameter int INCLUDE_IR_STATES = 1;
  parameter int INCLUDE_MT_STATES = 1;
  parameter int INCLUDE_OR_STATES = 1;

  {% include "agu_config.j2" %}
endpackage

