// vesyla_template_start package_head
package {{name}}_{{fingerprint}}_pkg;
// vesyla_template_end package_head

  // vesyla_template_start package_macro
  {% include "package.j2" %}
  // vesyla_template_end package_macro

  import agu_RTR_pkg::*;

  parameter AGU_BITWIDTH = 16;

  // AGU RTR params
  parameter int ADDRESS_WIDTH = $clog2(RF_DEPTH);
  parameter int REP_LEVEL_WIDTH = 3;
  parameter int REP_DELAY_WIDTH = 6 * 2; // REP + REPX
  parameter int REP_ITER_WIDTH = 7 * 2; // REP + REPX
  parameter int REP_STEP_WIDTH = 6 * 2; // REP + REPX
  parameter int TRANS_LEVEL_WIDTH = 7;
  parameter int TRANS_DELAY_WIDTH = 7;
  parameter int NUMBER_OR = 0;
  parameter int NUMBER_MT = 0;
  parameter int NUMBER_IR = 4;
  parameter int INCLUDE_IR_STATES = 1;
  parameter int INCLUDE_MT_STATES = 1;
  parameter int INCLUDE_OR_STATES = 1;

  typedef agu_config_class#(
    .NUMBER_IR         (NUMBER_IR),
    .NUMBER_MT         (NUMBER_MT),
    .NUMBER_OR         (NUMBER_OR),
    .REP_DELAY_WIDTH   (REP_DELAY_WIDTH),
    .REP_ITER_WIDTH    (REP_ITER_WIDTH),
    .REP_STEP_WIDTH    (REP_STEP_WIDTH),
    .TRANS_DELAY_WIDTH (TRANS_DELAY_WIDTH)
  )::agu_config_t agu_config_t;
endpackage

