// vesyla_template_start package_head
package {{fingerprint}}_pkg;
// vesyla_template_end package_head

  // vesyla_template_start package_macro
  {% include "package.jinja" %}
  // vesyla_template_end package_macro

  parameter AGU_BITWIDTH = 16;

endpackage

